@import '../../../../components/variables.css';
@import '../../../../components/Common.css';
@import '../../../../components/responsive-common.css';
.displayGrid{
    display: grid;
    grid-template-columns: 25% 48% 27%;
    align-items: center;
}
.containerWidth{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 18px 15px 15px;
    margin-bottom: 40px;
    background: #F7F7F7;
    border-radius: 10px;
    border: 1px solid #E5E5E5;

}
.icon{
    width: 95px;
    height: 95px;
    background-position: 50%;
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}
.centerChatIcon {
	height: 62px;
    width: 62px;
    margin-left: -28px;
    margin-right: -28px;
    position: relative;
    z-index: 1;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.iconBG {
	border-radius: 50%;
	text-align: center;
	height: 62px;
	width: 62px;
}
.iconBG img {
	width: 75%;
	display: inline-block;
	padding: 25px 0 0 0
}
.textAlignCenter{
    text-align: center;
}
.textAlignRight{
    text-align: right;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.textAlignLeft{
    text-align: left;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.batchIcon{
    position: absolute;
    bottom: 2px;
    right: 1px;
    width: 26px;
}
.positionRelative{
    position: relative;
}
@media (max-width: 1199px) and (min-width: 768px) {
    .icon {
        width: 70px;
    }
    .batchIcon {
        bottom: -22px;
        right: -6px;
        width: 26px;
    }
}
@media screen and (max-width: 767px) {
    .hiddenXs{
        display: none;
    }
}