@import '../../../components/variables.css';
@import '../../../components/Common.css';
@import '../../../components/responsive-common.css';

.root {
  padding-left: 0;
  padding-right: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: #fff;
}

.container {
  margin: 0 auto;
}
.Grid{
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 33px;
}
.paddingRoutesSection {
  padding: 30px 55px 15px 25px;
}


@media (max-width: 768px) {
  .Grid {
      grid-template-columns: 100%;
  }
  .paddingRoutesSection {
    padding: 20px;
}
}